<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="visualstudio2019buildtools" version="16.9.5.0"
               packageParameters="--nocache"
               />
      <package id="visualstudio2019-workload-vctools" version="1.0.1"
               packageParameters="--no-includeRecommended"
               />
      <package id="flutter" version="2.0.5" />
      <package id="googlechrome" version="90.0.4430.212" />
      <package id="chromedriver" version="90.0.4430.240" />
    </packages>